$phoneWidth: 30em;
$tabletWidth: 45em;
$uiTabletWidth: 768px;
$laptopWidth: 64em;
$uiLaptopWidth: 992px;
$desktopWidth: 85.375em;
$computerWidth: 992px;

// Custom Breakpoints
$navBreakpoint: 1210px;
