form {
    input {
        border-radius: 50px;
        font-size: 14px;
        padding: 14px 110px;
        font-weight: 600;
        border: 2px solid #666666;
        color: #666666;
    }

    &.ui.form {
        .ui.message {
            text-align: center;
        }

        .field {
            input.error, textarea.error {
                border-color: #ea212d;
            }

            .formErrorMessage {
                display: none;
                margin-top: 10px;
                font-style: italic;
                color: #ea212d;

                &.show {
                    display: block;
                }
            }

            &.spaceAbove {
                margin-top: 2em;
            }
        }


        &.error {
            .ui.error.message {
                p {
                    text-align: center;
                }
            }
        }
    }
}
