.promo {
    .promoInformation {
        .heading {
            text-align: center;
        }

        h4 {
            margin-top: 0;
        }

        .description {
            text-align: center;
        }
    }

    .referralsList {

    }

    .referralsReport {
        margin-top: 20px;

        p.header {
            font-size: 1em;
        }
    }
}
