<div id="aboutUs" class="aboutUs">
    <div class="ui container">
        <h2>{{ heading }}</h2>
        <div class="content">
            <div class="paragraph">
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
</div>
