<div class="buckets">
    <div class="ui container">
        <h2 class="heading">{{ heading }}</h2>
        <div class="ui three stackable cards">
            {{> bucketElement firstCard}}
            {{> bucketElement secondCard}}
            {{> bucketElement thirdCard}}
        </div>
    </div>
</div>
