<button
    class="{{#unless isNotItem}}item{{/unless}}{{#if customClasses}} {{ customClasses }}{{/if}}"
    type="button"
    {{#if modal}}
        data-modal="{{ modal }}"
    {{/if}}
>
    {{ text }}
</button>
