<div class="hero">
    <h1> {{ title }} </h1>
    <form>
        <div class="formInput">
            <input id="universityInput" type="text" name="university">
        </div>
    </form>

    <div id="hero_university_search" class="ui search">
        <div class="ui right icon input">
            <input class="prompt" type="text" placeholder="University">
            <i class="search icon"></i>
        </div>
    </div>
    <h2> {{ subtitle }} </h2>
</div>
