<div class="navigation">
    <div class="logo">
        <p>LOGO</p>
    </div>
    <ul class="links">
        <li>About</li>
        <li>Studying in Canada</li>
        <li>Contact</li>
        <li>Sign In</li>
        <li>Join</li>
    </ul>
</div>
