<div id="navigationMenu" class="ui fixed stackable menu navigation">
    <a class="item logo" href="{{ logo.href }}">
        <img src="{{ logo.src }}" alt="{{ logo.alt }}">
    </a>
    {{#each items}}
        {{> navigationItem this}}
    {{/each}}
    {{#each authItems}}
        {{#if this.showOnUser}}
        {{#if @root.user}}
            {{> navigationItem this}}
        {{/if}}
        {{/if}}

        {{#if hideOnUser}}
        {{#unless @root.user}}
            {{> navigationItem this}}
        {{/unless}}
        {{/if}}
    {{/each}}
    <button id="hamburgerButton" class="ui icon button sidebarButton">
        <i class="sidebar icon"></i>
    </button>
</div>
