{{!
    Takes the folling parameters:
    {
        type: 'success', // Must be a valif iziToast notification type
        heading: 'Much heading',
        body: 'Much body'
    }
}}

<div class="notificationTrigger"
    data-notification-trigger=""
    data-type="{{ type }}"
    data-heading="{{ heading }}"
    data-body="{{ body }}"
>
</div>
