<div class="thirdPartyLoginButtons">
    <a class="button" href="/login/facebook">
        <img src="/images/facebookLogin.png">
    </a>
    <a class="button" href="/login/google">
        <img src="/images/googleLogin.png">
    </a>
</div>