.aboutUs {
    margin-top: 75px;
    margin-bottom: 75px;

    h2 {
        text-align: center;
    }

    .content {
        text-align: center;

        .paragraph {
            padding: 15px 32px 0;
            font-size: 1.1em;

            @media screen and (min-width: $laptopWidth) {
                padding-top: 0;
            }

            p {
             line-height: 1.7;
            }
        }
    }
}
