.adminIndexSection {
    h2.heading {
        font-size: 1.3em;
        font-weight: normal;
        text-align: center;
    }

    .links {
        text-align: center;

        .linkWrapper {
            padding: 15px;
        }
    }
}
