footer.footer {
    background-color: #eee;

    .footerSpacing {
        padding: 30px;

        .mainLogo {
            max-width: 250px;
            margin: auto;
        }

        .row {
            margin-top: 22px;
            margin-bottom: 22px;

            a {
                color: black;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .promoBanner:not(.closed) ~ & {
        // Need to make space for the promo banner at the bottom of the page
        padding-bottom: 200px;

        @media screen and (min-width: $laptopWidth) {
            padding-bottom: 115px;
        }
    }
}