.hero {
    background-color: #222222;
    padding: 150px 16px;
    text-align: center;
    color: white;

    h1 {
        font-size: 70px;
        padding-bottom: 50px;
    }

    h2 {
        font-size: 18px;
        padding-top: 20px;
    }

    .heroSearchWrapper {
        .ui.search {
            margin-top: 10px;

            @media screen and (min-width: $phoneWidth) {
                margin-top: 0;
            }
        }
    }
}
