.hero {
    background-image:url("https://hdwallsource.com/img/2014/7/background-images-26865-27581-hd-wallpapers.jpg");
    padding: 150px 0;
    text-align: center;

    h1 {
        font-size: 70px;
        padding-bottom: 50px;
    }

    h2 {
        font-size: 18px;
        padding-top: 20px;
    }
}
