.hero {
    position: relative;
    text-align: center;
    color: white;

    .backgroundImage {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        z-index: -1;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    h1 {
        font-size: 70px;
        padding-bottom: 50px;
    }

    h2 {
        font-size: 18px;
        padding-top: 20px;
    }

    .heroSearchWrapper {
        .ui.search {
            margin-top: 10px;

            @media screen and (min-width: $phoneWidth) {
                margin-top: 0;
            }
        }
    }
}
