.ui.modal.withLogoHeading {
    .imageWrapper {
        max-width: 200px;
        margin: 0 auto;
        padding-top: 30px;

        @media screen and (min-width: $tabletWidth) {
            max-width: 300px;
        }

        img {
            width: 100%;
        }
    }

    .header {
        text-align: center;

        span {
            display: block;

            &.small {
                font-weight: normal;
                font-size: 0.75em;
                padding: 15px 20px 15px;

                &.light {
                    color: #999;
                    font-size: 0.65em;
                    text-align: left;
                    font-style: italic;
                }
            }
        }
    }

    .content {
        .ui.form {
            width: 80%;
            margin: 0 auto;

            .field {
                .ui.submit {
                    margin-top: 10px;
                }

                .passwordInputWrapper {
                    display: table;
                    width: 100%;

                    input {
                        display: table-cell;
                        width: 95%;

                        @media screen and (min-width: $tabletWidth) {
                            width: 100%; // Deals with wierd margin to the right of the input at 95%
                        }
                    }

                    .iconWrapper {
                        display: table-cell;
                        width: 5%;
                        vertical-align: middle;
                        text-align: center;

                        &:hover {
                            cursor: pointer;
                        }

                        .icon {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .disclaimer {
            color: #999;
            font-style: italic;
            font-size: 0.9em;
        }

        .contentFooter {
            margin-top: 32px;
        }
    }

    &.extraPaddingOnContent {
        .content {
            @media screen and (min-width: $tabletWidth) {
                padding-left: 10%;
                padding-right: 10%;
            }
        }
    }
}
