.navigation {
    background-color: blue;
    padding-bottom: 75px;

    .links {
        float: right;
        padding-top: 27px;
    }

    .logo {
        padding: 14px 10px;
        float: left;
        color: white;
        font-size: 40px;
    }

    .links li {
        color: white;
        display: inline;
        font-size: 18px;
        padding: 0px 20px;
    }

    .links li:hover {
        text-decoration: underline;
    }
}
