.passwordResetFormSection.rootSection {
    .innerWrapper {
        @media screen and (min-width: $tabletWidth) {
            max-width: 750px;
            margin-left: auto;
            margin-right: auto;
        }

        .description {
            font-size: 1.2em;
        }
    }
}