.passwordResetIndexSection.rootSection {
    @media screen and (min-width: $tabletWidth) {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        margin-top: 30px;
        font-size: 1.2em
    }

    .ui.form {
        margin-top: 30px;
    }
}