.privacyPolicy {
    h1.heading {

    }

    .body {
        margin-top: 25px;

        p {
            margin-top: 2em;
            font-size: 1.15em;
            line-height: 1.7;

            @media screen and (min-width: $laptopWidth) {
                padding-left: 100px;
                padding-right: 100px;
            }
        }
    }

    .logoWrapper {
        margin-top: 30px;

        img {
            display: block;
            margin: 0 auto;
            width: 80%;
            max-width: 300px;
        }
    }
}