.programDetails {
    $innerSectionPadding: 30px;

    position: relative;

    .mapsSection {
        height: 500px;
        padding: $innerSectionPadding;

        @media screen and (min-width: $laptopWidth) {
            position: absolute;
            top: $rootSectionVerticalPaddingDesktop;
            right: 0;
            width: 50%;
            height: 50vw;
        }

        @media screen and (min-width: $desktopWidth) {
            height: 30vw;
        }

        .map {
            height: 100%;
        }
    }

    .programDetailsSection {
        padding: $innerSectionPadding;

        @media screen and (min-width: $laptopWidth) {
            position: absolute;
            top: $rootSectionVerticalPaddingDesktop;
            left: 0;
            width: 50%;
        }
    }
}
