.searchResults {
    padding-top: 25px;

    @media screen and (min-width: $tabletWidth) {
        padding-top: 50px;
    }

    @media screen and (min-width: $laptopWidth) {
        padding-top: 75px;
    }

    h2 {
        text-align: center;

        @media screen and (min-width: $phoneWidth) {
            text-align: left;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: $desktopWidth) {
            max-width: 990px;
        }
    }

    .wrapper.lax {
        margin-top: 35px;

        @media screen and (min-width: $laptopWidth) {
            margin-top: 50px;
        }

        .ui.link.cards {
            .card:hover {
                box-shadow: 0 5px 20px 0 #BCBDBD, 0 0 0 1px #D4D4D5;
            }
        }
    }

}
