.wrapper {
    margin: 1em;

    @media screen and (min-width: $tabletWidth) {
        max-width: $tabletWidth - 2em;
        margin: 1em auto;
    }

    @media screen and (min-width: $laptopWidth) {
        max-width: $laptopWidth - 2em;
    }

    @media screen and (min-width: $desktopWidth) {
        max-width: $desktopWidth - 2em;
    }

    @media screen and (min-width: $desktopWidth + 2em) {
        max-width: $desktopWidth;
    }
}

.wrapper.lax {
    @media screen and (min-width: $tabletWidth) {
        max-width: none;
    }

    @media screen and (min-width: $laptopWidth) {
        max-width: none;
    }

    @media screen and (min-width: $desktopWidth) {
        max-width: $desktopWidth - 2em;
    }

    @media screen and (min-width: $desktopWidth + 2em) {
        max-width: $desktopWidth;
    }
}
