<!-- START CENTERED WHITE CONTAINER -->
<table class="main">

    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Hello {{ name }},</p>
                        <p>We have received a request to change the password for your account. If this was not you, please <a href="{{ rootUrl }}/contact">contact us</a>.</p>
                        <p>Use the following button to reset your password.</p>
                        {{> cta href=passwordResetLink text='Reset Password'}}
                        <p class="small noMarginBottom">Can't click the button? Copy the link below:</p>
                        <a class="small noMarginTop" href="{{ passwordResetLink }}">{{ passwordResetLink }}</a>
                        <br>
                        <br>
                        <br>
                        <p>Best Regards,</p>
                        <p>Canada Higher Education House</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

<!-- END MAIN CONTENT AREA -->
</table>