<!-- START CENTERED WHITE CONTAINER -->
<table class="main">

    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Welcome {{ name }}!</p>
                        <p>Thank you for joining the Canadian Higher Education House.</p>
                        <p>You can use our site to browse the various programs offered at Canadian Universities. You can also read about studying in Canada.</p>
                        {{#if isMember}}
                            <p>We would like to thank you for also choosing to become a full member of the Canadian Higher Education House. This premium status allows you unlimited access to our program search.</p>
                            <p>More importantly, it allows you to apply for exclusive Canada Higher Education House scholarships. Good luck!</p>
                        {{else}}
                            <p>You can search programs using our platform but unfortunatly, only full members can submit applications to recieve exclusive Canada Higher Education House scholarships. You can become a member at any time for only $3 CAD! Simply log in and click "become a member".</p>
                        {{/if}}
                        <p>If you have any questions at all, please feel free to <a href="{{ rootUrl }}/contact">Contact us</a>.</p>
                        <p>Thanks!</p>
                        <p>Canadian Higher Education House</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

<!-- END MAIN CONTENT AREA -->
</table>
