{{> navigation page.navigation}}
<div>
    <form class="contactUs">
        <fieldset class="contactUs">
            <input type="text" name="firstname"><br>
            <input type="email" name="email"><br>
            <textarea name="message" rows="10" cols="30"></textarea>
            <input type="submit" value="Submit">
      </fieldset>
    </form>
</div>
