{{> navigation page.navigation}}

<div class="notFound rootSection">
	<div class="ui container">
		<div class="ui icon negative message">
			<i class="exclamation triangle icon"></i>
			<div class="content">
				<div class="header">
					{{ @root.page.notFound.heading }}
				</div>
			</div>
		</div>
	</div>
</div>