{{> navigation page.navigation}}

<div class="scholarshipApplicationList rootSection">
    <div class="ui container">
        {{#each applications}}
            {{#with this}}
                <div class="ui raised segment{{#if isFirst}} first{{/if}}">
                    <h2>{{ name }}</h2>
                    <p><a href="mailto:{{ email }}">{{ email }}</a></p>
                    <p data-hide-target="">{{{addLineBreaks application}}}</p>
                </div>
            {{/with}}
        {{/each}}
    </div>
</div>
