{{> navigation}}

<div class="searchResults">
    <h1 class="ui heading">{{ page.heading }}</h1>

    {{#if searchInfo.university}}
        <h2 class="ui heading">{{interpolate page.universitySearchHeading searchInfo}}</h2>
    {{/if}}
    {{#if searchInfo.province}}
        <h2 class="ui heading">{{interpolate page.provinceSearchHeading searchInfo}}</h2>
    {{/if}}
    {{#if searchInfo.name}}
        <h2 class="ui heading">{{interpolate page.nameSearchHeading searchInfo}}</h2>
    {{/if}}

    <div class="wrapper lax">
        <div class="ui link cards centered">
            {{#each programs}}
                {{> programCard @root.page.cards program=this}}
            {{/each}}
        </div>
    </div>
</div>
